// @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
// html,body
//   font-family "Fira Code"
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.content:not(.custom)
  overflow hidden
  ul li
    word-wrap break-word

.content:not(.custom)
  h1,h2,h3,h4,h5
    line-height normal
    word-break break-word

.home .hero img
  max-height 240px
  border-radius 50%
  overflow hidden

.home .hero h1
  display none

.content h1
  font-size 1.5rem
  color #2c3e50

.content h2
  font-size 1.2rem
  color #4e6e8e

.content h3
  font-size 1rem
  color #434343

details summary:focus
  outline none

details summary:hover
  cursor pointer


.hide
  display none

// div[class*="language-"]
//   &.extra-class
//     max-height: 500px
//     overflow: auto
//     margin: 10px 0

// div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"]
//   margin: 0


@keyframes rocking {
  0%,
  100% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
}

.vue-typer {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.vue-typer .custom.char.typed {
  color: #009688;
}
.vue-typer .custom.char.selected {
  color: #e91e63;
}

.vue-typer .custom.caret {
  animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer .custom.caret.typing {
  background-color: #009688;
}
.vue-typer .custom.caret.selecting {
  display: inline-block;
  background-color: #e91e63;
}

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.sidebar > .sidebar-links > li:not(:first-child)
  margin-top 0.2rem

.sidebar > .sidebar-links > li > a.sidebar-link
  font-size 1em !important
  line-height 1 !important
  font-weight 500 !important
